.container-main-and-aside {
    background-color: lightgoldenrodyellow;
    display: flex;
    padding: 70px;
}

.principal-container {
    background-color: aquamarine;
    border-radius: 25px;
    padding: 70px;
}